<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">

<a role="presentation" routerLinkActive="" routerLink="/home" class="w3-bar-item w3-button  w3-black">
  <i class="fa fa-home w3-xxlarge"></i>
  <p>HOME</p>
</a>
<a role="presentation" routerLinkActive="active" routerLink="/convert" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="fa fa-refresh w3-xxlarge"></i>
  <p>CONVERT</p>
</a>
<a role="presentation" routerLinkActive="active" routerLink="/find" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="fa fa-eye w3-xxlarge"></i>
  <p>FIND ZODIAC</p>
</a>
<a role="presentation" routerLinkActive="active" routerLink="/tutorial" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="fa fa-caret-square-o-right w3-xxlarge"></i>
  <p>TUTORIAL</p>
</a>
<a role="presentation" routerLinkActive="active" routerLink="/info" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
  <i class="fa fa-question-circle w3-xxlarge"></i>
  <p>INFORMATION</p>
</a>
</nav>
