<!DOCTYPE html>
<html>
<title>Information</title>
<body>
<style>
  .container {
    position: relative;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ba6e00;
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
  }
</style>
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="container">
    <img class="w3-image container image" src="/app/images/angkaew.jpg" alt="Me" width="1500" height="600" alt="Avatar">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">ANG KAEW</h1>
      <h3 class="w3-hide-medium w3-xxlarge w3-hide-small w3-text-black">RESERVOIR</h3>
    </div>
    <div class="overlay">
      <div class="text w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">"Ang Kaew
        Reservoir" located in front of Chiang Mai University. Constructed to supply water
        for the university,
        it is also a recreational area for Chiang Mai University students , campus residents and the local community.
      </div>
    </div>
  </div>

</header>
<br>
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="container">
    <img class="w3-image container image" src="/app/images/cmusta.jpg" alt="Me" width="1500" height="600" alt="Avatar">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">CHIANG MAI UNIVERSITY</h1>
      <h3 class="w3-hide-medium w3-xxlarge w3-hide-small w3-text-black">MAIN STADIUM</h3>
    </div>
    <div class="overlay">
      <div class="text w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">"Chiang Mai
        University Main Stadium" are located in the center of the university.It is a place for a student to do activity,
        e.g., outdoor sports, concerts, or other events and
        consists of a field or stage either partly or completely surrounded by a tiered structure designed to allow
        spectators to stand or sit and view the event.
      </div>
    </div>
  </div>

</header>
<br>
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="container">
    <img class="w3-image container image" src="/app/images/sala.jpg" alt="Me" width="1500" height="600"
         alt="Avatar">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">ROYAL MUSEUM</h1>
      <h3 class="w3-hide-medium w3-xxlarge w3-hide-small w3-text-black">HALL</h3>
    </div>
    <div class="overlay">
      <div class="text w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">Royal Museum,
        was built on December 5, 2011, the day is the king of the 84 anniversary of the Christmas, the main display of
        the king in the development of the country, take care of the people's deeds, but also to commemorate and praise
        the king for the Thai people to contribute to the place.
      </div>
    </div>
  </div>

</header>
<br>
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="container">
    <img class="w3-image container image" src="/app/images/clock.jpg" alt="Me" width="1500" height="600"
         alt="Avatar">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">CLOCK</h1>
      <h3 class="w3-hide-medium w3-xxlarge w3-hide-small w3-text-black">TOWER</h3>
    </div>
    <div class="overlay">
      <div class="text w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">Clock Tower,
        the clock tower is located in the middle of Chiang Mai University campus, a traffic hub of a sign, but also one
        of the distinctive signs of Chiang Mai University.
      </div>
    </div>
  </div>

</header>
<br>
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="container">
    <img class="w3-image container image" src="/app/images/cmuart.jpg" alt="Me" width="1500" height="600" alt="Avatar">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">THE CMU ART</h1>
      <h3 class="w3-hide-medium w3-xxlarge w3-hide-small w3-text-black">MUSEUM</h3>
    </div>
    <div class="overlay">
      <div class="text w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">This museum is
        the main regional art museum in the north of Thailand. In addition to providing a venue for rotating
        contemporary art exhibitions by CMU art students and local, national and international artists, it is an
        education centre, and a centre for the preservation of art and culture of Chiang Mai and Northern Thailand,
        formerly named the Kingdom of Lanna. The Museum also organizes an annual international festival and publishes a
        two-monthly art magazine.
      </div>
    </div>
  </div>

</header>
<br>
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="container">
    <img class="w3-image container image" src="/app/images/saladham.jpg" alt="Me" width="1500" height="600"
         alt="Avatar">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">SALA DHAM</h1>
      <h3 class="w3-hide-medium w3-xxlarge w3-hide-small w3-text-black">HALL</h3>
    </div>
    <div class="overlay">
      <div class="text w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">Sala Dham Hall
        is a 2 story Thai styled architecture building and is located in front of the University’s Buddha Image. Sala
        Dham was initially used as a temporary reception area for the king and queen during the convocation ceremony and
        presently it is used for welcoming important guests visiting the University.
      </div>
    </div>
  </div>

</header>
<br>
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <div class="container">
    <img class="w3-image container image" src="/app/images/palm.jpg" alt="Me" width="1500" height="600"
         alt="Avatar">
    <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
      <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">PALM</h1>
      <h3 class="w3-hide-medium w3-xxlarge w3-hide-small w3-text-black">GARDEN</h3>
    </div>
    <div class="overlay">
      <div class="text w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">Palm Garden,
        Palm Garden is one of the important places of Chiang Mai University, the hospital has a lot of palm, also
        planted with flowers, in the middle of a small lake, beautiful green environment, the climate is clear and
        pleasant. In addition to the park also has a large art lotus building, a symbol of college students with a wise
        wisdom, is everyone to this leisure work, meditation to study a good place.
      </div>
    </div>
  </div>

</header>


<div class="w3-content w3-padding-large w3-margin-top" id="portfolio">
</div>

</body>
</html>
