
<div class="w3-content w3-center" id="photos">
  <header class="  w3-center">
    <div class="w3-animate-top">
      <h1 class="w3-xxlarge">Find you simple zodiac ascendant</h1>
      <p class="w3-text-grey">Selecting the below<span class="w3-text-amber w3-opacity-min"> option</span> !!</p>
    </div>
  </header>
  <div class="w3-display-container">
  <img src="app/images/bg.png" alt="bgtutorial" class="" width="1200" height="600" >
  <div class="w3-cell-row w3-display-topmiddle w3-container w3-padding-64 ">
    <div class="w3-cell">
      <p class="w3-text-light-grey">Birth date</p>

      <select>
        <option value="1">15Jan - 12Feb</option>
        <option value="2">13Feb - 13Mar</option>
        <option value="3">14Mar - 12Apr</option>
        <option value="4">13Apr - 13May</option>
        <option value="5">14May - 13Jun</option>
        <option value="6">14Jun - 14Jul</option>
        <option value="7">15Jul - 16Aug</option>
        <option value="8">17Aug - 16Sep</option>
        <option value="9">17Sep - 16Oct</option>
        <option value="10">17Oct - 15Nov</option>
        <option value="11">16Nov - 15Dec</option>
        <option value="12">16Dec - 14Jan</option>
      </select>

    </div>
    <div class=" ">
      <p class="w3-text-light-grey">Birth time</p>

      <select>
        <option value="0">05.00 - 07.00</option>
        <option value="1">07.00 - 09.00</option>
        <option value="2">09.00 - 11.00</option>
        <option value="3">11.00 - 13.00</option>
        <option value="4">13.00 - 15.00</option>
        <option value="5">15.00 - 17.00</option>
        <option value="6">17.00 - 19.00</option>
        <option value="7">19.00 - 21.00</option>
        <option value="8">21.00 - 23.00</option>
        <option value="9">23.00 - 01.00</option>
        <option value="10">01.00 - 03.00</option>
        <option value="11">03.00 - 05.00</option>

      </select>


    </div>


  <div class="w3-padding-64 w3-center  ">
    <button class="w3-button w3-padding-large w3-green w3-margin-right">Submit</button>
    <button class="w3-button w3-red w3-padding-large ">Reset</button>
  </div>
  </div>
    </div>


  <!-- End Portfolio Section -->
</div>


