<div class="" id="about">
  <header class="  w3-center w3-black">
    <div class="w3-animate-top">
      <h1 class="w3-xxlarge">Lukana Converting</h1>
      <p class="w3-text-grey">Selecting the below<span class="w3-text-amber w3-opacity-min"> option</span> !!</p>
    </div>
    </header>
  <!-- Grid for pricing tables -->
  <div class="w3-row-padding w3-center" style="margin:0 -16px">
    <div class="w3-container">
      <a role="presentation" routerLinkActive="" routerLink="/convert"> <button class="w3-button w3-dark-gray w3-padding-large w3-hover-black w3-margin-right">Convert ascendant diagram</button></a>
      <a role="presentation" routerLinkActive="" routerLink="/list"> <button class="w3-button w3-white w3-center w3-padding-large w3-hover-black">Convert a list of star and zodiac</button></a>
    </div>
    <div>
      <img src="app/images/xcxc.png" alt="bg" class="w3-padding-32" width="400" height="440">
     <!-- <input type="text" name="FirstName" value="1,2,3,4" class="j3 w3-round w3-small">-->
    </div>
    <div class="w3-container">
      <button class="w3-button  w3-green w3-margin-right">Submit</button>
      <button class="w3-button w3-red  ">Reset</button>
    </div>
  </div>


</div>
