
<video  id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->

<source src="app/images/NightFootage.mp4" type="video/mp4">
</video>
<!--
<div id="polina">
<h1>Polina</h1>
<p>filmed by Alexander Wagner 2011
<p><a href="http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video">original article</a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur porta dictum turpis, eu mollis justo gravida ac. Proin non eros blandit, rutrum est a, cursus quam. Nam ultricies, velit ac suscipit vehicula, turpis eros sollicitudin lacus, at convallis mauris magna non justo. Etiam et suscipit elit. Morbi eu ornare nulla, sit amet ornare est. Sed vehicula ipsum a mattis dapibus. Etiam volutpat vel enim at auctor.</p>
<p>Aenean pharetra convallis pellentesque. Vestibulum et metus lectus. Nunc consectetur, ipsum in viverra eleifend, erat erat ultricies felis, at ultricies mi massa eu ligula. Suspendisse in justo dapibus metus sollicitudin ultrices id sed nisl.</p>
<button>Pause</button>
</div>-->

<!-- Header/Home -->
<div id="polina2">
<header class="  w3-center">
  <div class="w3-animate-top">
    <img src="app/images/logo.png" alt="logo"  width="100" height="100">
    <h1 class="w3-jumbo">Welcome to Lukana<span class="w3-text-amber">.</span>com</h1>
    <p class="w3-text-grey">Welcome to the<span class="w3-text-amber w3-opacity-min"> web application</span> that make you understand more about Lukana</p>
  </div>
  <img src="app/images/astro6.jpg" alt="bg" class=" bgpic1" >
  <div class="w3-animate-bottom">
    <p>Suggestion</p>
    <i class="fa fa-refresh w3-text-grey w3-medium "> Click this icon on the left hand side for convert ascendant diagram</i><br>
    <i class="fa fa-eye w3-text-grey w3-medium"> Click this icon on the left hand side for find simple zodiac ascendant</i><br>
    <i class="fa fa-caret-square-o-right w3-text-grey w3-medium"> Click this icon on the left hand side for lern about ascendant</i><br>
    <i class="fa fa-question-circle w3-text-grey w3-medium"> Click this icon on the left hand side for view CMU attraction information</i>
  </div>
</header>
</div>